<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167182138407-hhbm1u3pf7nmqjdcm7cuasc9qaelj2fi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167182138407-hhbm1u3pf7nmqjdcm7cuasc9qaelj2fi</string>
	<key>API_KEY</key>
	<string>AIzaSyCjJiUx6tk241iECXrD8XDB2lXML9NX8Dw</string>
	<key>GCM_SENDER_ID</key>
	<string>167182138407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aboqasem.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-aboqasem</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-aboqasem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167182138407:ios:d5b3455de7ede9ef1b6202</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-aboqasem.firebaseio.com</string>
</dict>
</plist>